@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    padding:0px;
    margin:0px;
    text-decoration:none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cabecalho_logo{
    height: 62px;
    width: 62px;
}
.cabecalho_links{
    display:flex;
    flex-direction: row;
    gap: 32px;
    font-family: 'Sarala';
    font-size: 18px;
    font-weight: 400;
}

.links{
    color: #FFF2E7;
    font-size:18px;
}

.main1_{
    border-top: 0.1px solid #FFF2E7;
    align-items: center;
    display:flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-around;
    margin-left: 20px;
    color:#FFF2E7;
    font-family: 'righteous', sans-serif;
}

.main1_conteudo1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main1_titulo{
    font-weight:400;
    font-size:64px;
}

.main1_sub-titulo{
    font-weight:400;
    font-family: 'Sarala', sans-serif;
    font-size:24px;
    font-weight: 400;
}

.main1_button{
    width:273px;
    height:41px;
    background-color: #ECD6C4;
    border-radius:13px;
    font-size: 24px;
    font-family: 'sarala';
}

.main1_img{
    height:430px;
}

.main2_{
    margin-top:48px;
    align-items:center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main2_lista{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    color: #ECD6C4;
    margin-bottom: 40px;
}
.main2_h3{
    padding-top:48px;
    border-top: 0.4px solid #ECD6C4;
    font-weight:400;
    font-family: 'righteous', sans-serif;
    font-size:24px;
    color:#FFF2E7
}

.rodape{
    border-top: 0.1px solid #FFF2E7;
    color: #FFF2E7;
    text-align: center;
}

.Ballerini{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 495px;
    height: 99px;
}

#copyright{
    margin-top:13px;
}

